.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}
a,
.button,
i,
div,
nav,
.toggle-menu,
.open {
    transition: all, color 0.2s ease-in, background-color .3s ease-in, border-color .3s ease-in, border-radius .3s ease-in, opacity .3s ease-in, width .3s ease-in, transform .2s ease-in;
}
.container {
    display: block;
    max-width: 1240px;
    margin: auto;
}
body {
    font-family: Tahoma;
    font-size: 14px;
}
/* Header//////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* logo */

header {
    display: inline-block;
    width: 100%;
    background: #141a1d;
}
.logo {
    display: block;
    float: left;
}
header > .logo > a > i {
    color: #141a1d;
    font-size: 110px;
    margin: 0px 22px;
}
header > .logo > a {
    display: block;
    float: left;
    width: 110px;
    height: 110px;
    background: #ff5722;
}
header > .logo > span {
    float: left;
    display: block;
    margin: 14px;
}
header > .logo > span > h6 {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    color: #ff5722;
    line-height: 31px;
    text-align: right;
}
header > .logo > span > h3 {
    text-transform: uppercase;
    font-family: Lato;
    line-height: 31px;
    font-size: 57px;
    font-weight: 900;
    color: #ff5722;
}
/* navigation */

.hide {
    visibility: hidden;
    display: none;
}
nav {
    display: block;
    float: right;
    margin: 39px 20px;
}
nav > ul > li {
    float: left;
    display: block;
    margin: 0 10px;
}
nav > ul > li > a {
    font-family: Lato;
    font-size: 24px;
    line-height: 31px;
    color: #637076;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
nav > ul > li > a:hover {
    color: #fff;
}
header> a {
    float: right;
    margin: 30px 28px;
    color: #03a9f4;
    font-size: 43px;
}
/* Header//////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* slides//////////////////////////////////////////////////////////////////////////////////////////////////////// */

.slides > div > div > .container {
    padding: 10% 0;
}
.content-slider {
    margin-top: -2px;
    width: 100%;
}
.slide {
    z-index: 8;
    background-size: cover;
    width: 100%;
    color: #ffffff;
    font-family: Lato;
    font-size: 92px;
    line-height: 98px;
    font-weight: 900;
    text-transform: uppercase;
}
.slide1 {
    background: url(images/Layer-112.png)no-repeat;
    background-size: cover;
}
.slide2 {
    background: url(../images/slide2-bg.jpg)no-repeat;
    background-size: cover;
}
.slide2 > .container > h1 {
    width: 70%;
}
.slide3 {
    background: url(../images/slide3-bg.jpg)no-repeat;
    background-size: cover;
}
.slide3 > .container > h1 {
    width: 110%;
}
.left-slide,
.right-slide {
    font-size: 14px;
    margin-top: 50px;
    background: #c4baaf;
    text-align: center;
    width: 69px;
    height: 69px;
    float: left;
    display: block;
    opacity: 0.55;
    cursor: pointer;
}
.left-slide:hover,
.right-slide:hover {
    opacity: 0.85;
}
.left-slide {
    margin-right: 1px;
}
.right-slide > i,
.left-slide > i {
    font-size: 74px;
    color: #6d6c6a;
}
/* slides//////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* info//////////////////////////////////////////////////////////////////////////////////////////////////////// */

.info {
    display: inline-block;
    width: 100%;
    background: #ff5722;
    padding: 60px 0;
}
.info > .container > h3 {
    display: block;
    float: left;
    width: 70%;
    color: #ffffff;
    font-family: Lato;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase;
}
.info > .container > a {
    display: block;
    float: right;
    color: #ffffff;
    font: 400 28px Lato;
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px 50px;
    border: 2px solid #fff;
}
/* info//////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* headline//////////////////////////////////////////////////////////////////////////////////////////////////////// */

.headline {
    background: url(images/Layer-70.png);
    padding-top: 130px;
    padding-bottom: 110px;
}
.headline > .container > h2 {
    color: #263238;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 72px;
    text-transform: uppercase;
}
.headline > .container > h2 > strong {
    font-weight: 700;
}
.headline > .container > p {
    font-size: 22px;
    line-height: 30px;
    font-family: "Open Sans";
    color: #645f5f;
    font-weight: 300;
    width: 81%;
    margin: 50px 0;
}
.headline > .container > .ba-grid > .ba-width-1-4 {
    margin-top: 40px;
}
.headline > .container > .ba-grid > .ba-width-1-4 > h4 {
    color: #03a9f4;
    font: 700 30px"Open Sans";
    margin-top: 30px;
}
.headline > .container > .ba-grid > .ba-width-1-4 > h5 {
    color: #211f1f;
    font: 700 18px"Open Sans";
}
.headline > .container > .ba-grid > .ba-width-1-4 > p {
    color: #211f1f;
    font: 300 14px / 21px"Open Sans";
}
.headline > .container > .ba-grid > .ba-width-1-4 > .button {
    display: block;
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    font-size: 15px;
    font-family: "Open sans";
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase: ;
    background: #ff5722;
    width: 146px;
    height: 49px;
}
/* headline//////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* video//////////////////////////////////////////////////////////////////////////////////////////////////////// */

.video {
    display: block;
    width: 100%;
    background: url(images/Layer-114.png)no-repeat;
    background-size: cover;
}
.video > .container > h2 {
    color: #ff5722;
    text-transform: uppercase;
    font: 300 72px"Open Sans";
}
.video > .container > h1 {
    margin-bottom: 80px;
    color: #ff5722;
    text-transform: uppercase;
    font: 700 72px"Open Sans";
}
/* left-side ///////////////////////////////////////////////////////////////////////*/

.video > .container > .ba-grid > .ba-width-1-2 > iframe {
    box-sizing: border-box;
    width: 100%;
    height: 339px;
}
/* right-side/////////////////////////////////////////////////////////////////// */

.video > .container > .ba-grid > .ba-width-1-2 > .ba-grid > .ba-width-1-3 > img + img {
    margin-top: 8px;
}
.video > .container > .ba-grid > .ba-width-1-2 > .ba-grid > .ba-width-2-3 > h4 {
    color: #03a9f4;
    font: 300 46px"Open Sans";
    text-transform: uppercase;
}
.video > .container > .ba-grid > .ba-width-1-2 > .ba-grid > .ba-width-2-3 > h3 {
    color: #03a9f4;
    font: 700 46px"Open Sans";
    text-transform: uppercase;
}
.video > .container > .ba-grid > .ba-width-1-2 > .ba-grid > .ba-width-2-3 > h6 {
    color: #ffffff;
    font: 700 18px"Open Sans";
    text-transform: uppercase;
    margin-top: 30px;
}
.video > .container > .ba-grid > .ba-width-1-2 > .ba-grid > .ba-width-2-3 > p {
    color: #ffffff;
    font: 300 16px / 24px"Open Sans";
}
/* video//////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* services ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.services {
    background: #fff;
    padding: 80px 0;
}
.services > .container > h2 {
    color: #263238;
    font: 300 72px"Open Sans";
    width: 82%;
    text-transform: uppercase;
    margin-bottom: 80px;
}
.services > .container > h2 > strong {
    color: #263238;
    font: 700 72px"Open Sans";
}
.services > .container > .ba-grid > .ba-width-1-2 > ul > li {
    float: left;
    margin: 0px 2px;
}
.services > .container > .ba-grid > .ba-width-1-2 > ul > li > img {
    width: 113px;
    height: 78px;
}
.services > .container > .ba-grid > .ba-width-1-2 > ul > li > h5 {
    color: #ff5722;
    font: 700 14px"Open Sans";
    text-align: center;
    width: 70%;
    margin: auto;
}
.services > .container > .ba-grid > .ba-width-1-2 > h4 {
    color: #211f1f;
    font: 700 18px"Open Sans";
    margin-bottom: 15px;
}
.services > .container > .ba-grid > .ba-width-1-2 > p {
    color: #211f1f;
    font: 300 16px / 24px"Open Sans";
}
/* services ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* customers ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.customers {
    background: url(images/Layer-115.png) no-repeat;
    background-size: cover;
    padding: 75px 0;
}
.customers > .container > h2 {
    color: #ffffff;
    font: 300 72px"Open Sans";
}
.customers > .container > h2 > strong {
    color: #ffffff;
    font: 700 72px"Open Sans";
}
.customers > .container > .ba-grid > .ba-width-1-3 {
    background: #fff;
    background-image: url(images/%E2%80%9C.png);
    background-repeat: no-repeat;
    background-position: 15px 17px;
    border-radius: 10px;
    width: 31%;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 90px;
}
.customers > .container > .ba-grid > .ba-width-1-3 + .ba-width-1-3 {
    margin-left: 30px;
}
.customers > .container > .ba-grid > .ba-width-1-3 > h4 {
    color: #03a9f4;
    font: 700 18px"Open Sans";
    margin-bottom: 26px;
}
.customers > .container > .ba-grid > .ba-width-1-3 > p {
    color: #607d8b;
    font: italic 14px / 21px"Open Sans";
}
.customers > .container > .ba-grid > .ba-width-1-3 > img {
    position: absolute;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
}
.customers > .container > .buttonlr {
    display: block;
    width: 50px;
    margin: auto;
    margin-top: 100px;
}
.customers > .container > div > a {
    display: block;
    width: 20px;
    margin: auto;
    color: #93908a;
    font-size: 50px;
    float: right;
}
.customers > .container > div > a:hover {
    color: #fe4f00;
}
.customers > .container >div> .left-button {
    float: left;
}
/* customers ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* galery ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.galery {
    background: url(images/Layer-70.png);
    padding: 80px 0;
}
.galery > .container > h2 {
    text-transform: uppercase;
    color: #263238;
    font: 300 72px"Open Sans";
    margin-bottom: 80px;
}
.galery > .container > h2 > strong {
    color: #263238;
    font: 700 72px"Open Sans";
}
.galery > .container > .ba-grid > .ba-width-3-4 > .ba-grid > .ba-width-1-3 + .ba-width-1-3 > img {
    margin-left: -15px;
}
.galery > .container > .ba-grid > .ba-width-3-4 > .ba-grid > .ba-width-1-3 > img+img {
    margin-top: 30px;
}
.galery > .container > .ba-grid > .ba-width-3-4 > a {
    display: block;
    width: 26px;
    height: 27px;
    float: left;
    margin-top: 25px;
    margin-left: 5px;
    border-radius: 50%;
    background: #93908a;
}
.galery > .container > .ba-grid > .ba-width-3-4 > a:hover {
    background: #ff5722;
}
.galery > .container > .ba-grid > .ba-width-1-4 > h3 {
    color: #ff5722;
    font: 700 30px"Open Sans";
    margin-bottom: 30px;
}
.galery > .container > .ba-grid > .ba-width-1-4 > div {
    margin-bottom: 18px;
}
.galery > .container > .ba-grid > .ba-width-1-4 > div > h4 {
    color: #03a9f4;
    font: 700 18px"Open Sans";
    margin-bottom: 14px;
}
.galery > .container > .ba-grid > .ba-width-1-4 > div > p {
    color: #211f1f;
    font: 300 14px / 21px"Open Sans";
    margin-bottom: 23px;
}
.galery > .container > .ba-grid > .ba-width-1-4 > div > a {
    text-decoration: none;
    color: #93908a;
    font: 400 12px / 21px"Open Sans";
}
/* galery ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* stats ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.stats {
    background: url(images/Layer-116.png) no-repeat;
    background-size: cover;
    padding: 79px 0;
}
/* first info */

.stats > .container > .ba-grid > .ba-width-1-2:first-child >div> div {
    display: block;
    margin-left: -20px;
    color: #e4e1d9;
    font: 300 14px / 21px"Open Sans";
    border: 1px solid #fff;
    cursor: pointer;
}
.ac-container label {
    padding: 10px;
    padding-left: 45px;
    position: relative;
    display: block;
    height: 40px;
    cursor: pointer;
    color: #e4e1d9;
    font: 300 14px / 21px"Open Sans";
}
.ac-container label:before {
    position: absolute;
    left: 10px;
    content: "";
    height: 15px;
    width: 14px;
    background: url(images/%EF%81%95.png);
}
.ac-container input {
    display: none;
}
.ac-container article {
    margin-left: 25px;
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container input:checked ~ article {
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    height: 140px;
    padding: 20px;
}
.ac-container input:checked ~ label {
    color: #03a9f4;
}
.ac-container input:checked ~ label:before {
    background: url(images/%EF%81%96.png);
}
.ac-container article p {
    color: #03a9f4;
    font: 300 13px / 21px"Open Sans";
}
/* second info */

.percent-stats {} .percent-stats > div + div {
    margin-top: 10px;
}
.percent-stats > div {
    width: 100%;
    display: block;
    background: #fff;
    height: 40px;
}
.percent-stats > div > div {
    display: block;
    text-transform: uppercase;
    height: 40px;
    color: #ffffff;
    font: 700 18px"Open Sans";
    line-height: 2;
    padding-left: 24px;
}
.percent-stats > div:nth-child(1) > div {
    background: #e51c23;
}
.percent-stats > div:nth-child(2) > div {
    background: #03a9f4;
}
.percent-stats > div:nth-child(3) > div {
    background: #259b24;
}
.percent-stats > div:nth-child(4) > div {
    background: #ff9800;
}
.percent-stats > div > div > span {
    color: #ffffff;
    font: 700 18px"Open Sans";
    padding: 10px;
    display: block;
    width: 53px;
    height: 40px;
    float: right;
    background: #363a3f;
}
.stats > .container > .ba-grid > .ba-width-1-2:last-child > h3 {
    color: #f0ede7;
    font: 700 24px"Open Sans";
    margin-top: 35px;
}
.stats > .container > .ba-grid > .ba-width-1-2:last-child > h4 {
    color: #f0ede7;
    font: 300 20px"Open Sans";
    margin-top: 15px;
}
.stats > .container > .ba-grid > .ba-width-1-2:last-child > a {
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    width: 165px;
    height: 46px;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    background: #ff5722;
    color: #ffffff;
    font: 400 18px / 21px"Open Sans";
}
/* stats ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* call_now ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.call_now {
    width: 100%;
    display: inline-block;
    background: #03a9f4;
    text-transform: uppercase;
    padding: 0;
}
.call_now > .container > h2 {
    display: block;
    float: left;
    color: #ffffff;
    font: 700 66px"Open Sans";
    line-height: 2;
}
.call_now > .container > h3 {
    display: block;
    color: #ffffff;
    font: 300 36px"Open Sans";
    line-height: 4;
    float: right;
}
/* call_now ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* contact_us ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.contact_us {
    background: #eae8e2;
    text-transform: uppercase;
    padding: 120px 0;
}
.contact_us > .container {
    max-width: 920px;
}
.contact_us > .container > h2 {
    color: #263238;
    font: 300 72px"Open Sans";
    text-align: center;
}
.contact_us > .container > h2 > strong {
    color: #263238;
    font: 700 72px"Open Sans";
}
/* social */

.social_bar {
    display: block;
    margin: auto;
    margin-top: 90px;
}
.social_bar > ul {
    display: block;
    width: 41%;
    margin: auto;
    min-width: 370px;
}
.social_bar > ul > li {
    display: block;
    margin: auto;
    float: left;
}
.social_bar > ul > li > a {
    display: block;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 1px solid #263238;
    margin: 7px;
    color: #263238;
    font: 400 36.99px FontAwesome;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 50px;
}
.social_bar > ul > li > a:hover {
    background-color: #263238;
    color: #eae8e2;
    font: 400 36.99px FontAwesome;
    line-height: 1.6;
}
/* input */

.contact_us > .container > form > input,
textarea {
    border: 1px solid #263238;
    border-radius: 5px;
    color: #263238;
    font: 400 18px / 29px"Lato";
}
.First-Name,
.Last-Name {
    width: 49%;
    padding: 20px 0;
    padding-left: 25px !important;
}
.First-Name {
    float: left;
}
.Last-Name {
    float: right;
}
.Message {
    margin-top: 14px;
    padding: 20px 0;
    padding-left: 25px!important;
    width: 100%;
    text-align: left;
}
.contact_us > .container > .button {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 50px auto;
    width: 440px;
    height: 77px;
    color: #ffffff;
    font: 400 28px / 2.8 Lato;
    background: #f75314;
}
/* contact_us ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* footer ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
    background: #263238;
}
footer > .container {
    padding: 85px 0;
}
footer > .container > p {
    text-align: center;
    color: #ffffff;
    font: 400 18px / 16px Lato;
}
footer > .container > p > a {
    text-decoration: none;
    color: #3386cb;
    font: 400 18px / 16px Lato;
    margin-left: 5px;
}
footer > .container > p > a:before {
    display: inline-block;
    content: "";
    width: 29px;
    height: 28px;
    background: url(images/Layer-179.png);
    margin-left: -5px;
    margin-right: 5px;
}
footer > .container > p > a > span {
    color: #e00f19;
    font: 400 18px / 16px Lato;
    text-decoration: none;
}
/* footer ////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Responsive /////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 1560px */

@media (max-width: 1560px) {
    header > nav > ul > li > a {
        font-size: 14px;
    }
    header > a {
        margin: 32px 14px;
    }
    .slide > .container {
        width: 80%;
    }
    .slide > .container > h1 {
        font-size: 50px;
    }
}
/* 1200 */

@media(max-width: 1200px) {
    .logo > span {
        display: none !important;
    }
    .info {
        padding: 50px;
    }
    .info > .container > h3 {
        float: none;
        width: 100%;
        text-align: center;
    }
    .info > .container > a {
        display: block;
        float: none;
        margin: 24px auto;
        width: 260px;
        height: 78px;
        text-align: center;
        padding: 0;
        padding-top: 20px;
    }
    .headline {
        padding: 50px;
    }
    .headline > .container > .ba-grid > .ba-width-1-4 {
        width: 50%;
    }
    .headline > .container > .ba-grid > .ba-width-1-4 > img,
    .headline > .container > .ba-grid > .ba-width-1-4 > a {
        display: block;
        margin: auto;
    }
    .headline > .container > .ba-grid > .ba-width-1-4 > h4,
    .headline > .container > .ba-grid > .ba-width-1-4 > h5,
    .headline > .container > .ba-grid > .ba-width-1-4 > p {
        text-align: center;
    }
    .video >.container > h2,
    .video >.container > h1 {
        text-align: center;
    }
    .video > .container > .ba-grid > .ba-width-1-2 {
        float: none;
        width: 700px;
        margin: 20px auto;
    }
    .video > .container > .ba-grid > .ba-width-1-2 > iframe {
        height: 390px;
    }
    .services {
        padding: 50px;
    }
    .customers {
        padding: 100px;
    }
    .customers > .container > .ba-grid > .ba-width-1-3 {
        width: 100%;
        margin-top: 80px;
        margin-left: 0!important;
    }
    .customers > .container > h2 {
        text-align: center;
    }
    .galery {
        padding: 50px;
    }
    .galery > .container > .ba-grid > .ba-width-3-4 {
        width: 100%;
        margin-bottom: 50px;
    }
    .galery > .container > .ba-grid > .ba-width-1-4 {
        width: 100%;
    }
    .galery > .container > .ba-grid > .ba-width-1-4 > h3 {
        text-align: center;
    }
    .galery > .container > .ba-grid > .ba-width-1-4 > div {
        width: 48%;
        float: left;
    }
    .galery > .container > .ba-grid > .ba-width-1-4 > div + div {
        margin-left: 20px;
    }
    .stats {
        padding: 100px;
    }
    .stats > .container > .ba-grid > .ba-width-1-2 {
        width: 100%;
    }
    .stats > .container > .ba-grid > .ba-width-1-2:last-child {
        margin-left: -20px;
        margin-top: 20px;
    }
    .call_now > .container > h2 {
        text-align: center;
        width: 100%;
    }
    .call_now > .container > h3 {
        text-align: center;
        width: 100%;
    }
    .contact_us {
        padding: 20px;
    }
    .contact_us > .container > h2,
    .contact_us > .container > h2 > strong {
        font-size: 40px;
    }
}
/* 960 */

@media (max-width: 768px) {
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(126, 43, 43, 0.51);
    }
    .toggle-menu {
        visibility: hidden;
        display: none;
        width: 300px;
        background: #000;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }
    .open {
        display: block !important;
        visibility: visible !important;
        position: absolute;
        z-index: 1000;
    }
    .toggle-menu > ul > li {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .toggle-menu > ul > li:first-child {
        margin-top: 70px;
    }
    .toggle {
        z-index: 8;
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        float: right;
        margin: 30px 20px;
    }
    .toggle > div {
        margin-top: 20px;
        display: block;
        background: #03a9f4;
        height: 8px;
        width: 46px;
        border-radius: 10px;
    }
    .toggle > div:before {
        position: absolute;
        content: "";
        background: #03a9f4;
        height: 8px;
        width: 46px;
        border-radius: 10px;
        margin-top: -17px;
    }
    .toggle > div:after {
        position: absolute;
        content: "";
        background: #03a9f4;
        height: 8px;
        width: 46px;
        border-radius: 10px;
        margin-top: 17px;
    }
    .video > .container > .ba-grid > .ba-width-1-2 > .ba-grid > .ba-width-1-3 {
        display: none;
    }
    .video > .container > .ba-grid > .ba-width-1-2 > .ba-grid > .ba-width-2-3 {
        float: none;
        display: block;
        width: 85%;
        margin: auto;
    }
    .galery > .container > .ba-grid > .ba-width-3-4 > .ba-grid > .ba-width-1-3 {
        width: 100%;
    }
    .galery > .container > .ba-grid > .ba-width-3-4 > .ba-grid > .ba-width-1-3 > img {
        margin: 5px !important;
    }

}
@media (max-width: 480px) {
    .slide > .container > h1{
        width: 100% !important;
        font-size: 25px;
        line-height: 2;
    }
    .slide2 > .container > h1{
        line-height: 3;
    }
    .info > .container > h3{
        font-size: 20px;
    }
    .headline > .container > h2{
        font-size: 58px;
        text-align: center;
    }
    .headline > .container > p{
        font-size: 17px;
        text-align: center;
        margin:31px auto;
    }
    .headline > .container > .ba-grid > .ba-width-1-4{
        width: 100%;
    }
    .video > .container > h1,
    .video > .container > h2{
        font-size: 45px;
    }
    .video > .container > .ba-grid > .ba-width-1-2 > iframe{
        width: 300px;
        height: 164px;
    }
    .video > .container > .ba-grid > .ba-width-1-2 > .ba-grid{
        width: 68%;
    }
    .services > .container > h2,
    .services > .container > h2 > strong{
        font-size: 45px;
    }
    .customers > .container > h2,
     .customers > .container > h2 > strong{
        font-size: 38px;
    }
    .galery > .container > h2{
        font-size: 46px;
    }
    .galery > .container > .ba-grid > .ba-width-1-4 > div:nth-child(2) {
        margin-left: 20px;
    }
        .galery > .container > .ba-grid > .ba-width-1-4 > div {
            float: none;
            margin:20px auto;
        }
    .ac-container  label{
        font-size: 11px;
    }
}
